@page
@model Final_Project_4inRow_Server.Pages.About.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">About Omri Meller</h1>
</div>



<div class="info">
    <p>Linked-in: <a href="https://www.linkedin.com/in/omri-meller-951622173">https://www.linkedin.com/in/omri-meller-951622173</a></p>
    <p>Github: <a href="https://github.com/mellerdude">https://github.com/mellerdude</a></p>
</div>

<div class="info">
    <h2>Knowledge</h2>
    <ul>
        <li>Program development – C, Java, Python, Git</li>
        <li>Web development – Html5, Css, Javascript, Mysql, Php</li>
        <li>Testing development – Pytest, Selenium</li>
        <li>Virtualization – VirtualBox, VMware(Ubuntu)</li>
    </ul>
</div>

<div class="info">
    <h2>Education</h2>
    <p>2010 – 2012 Majored in theatre and history at Amal Lady Davis high school.</p>
    <p>2010 – 2012 Educated and instructed at the youth movement "Hashomer Hatzair".</p>
    <p>2019 – Started degree as a Software Engineering student at Afeka Tel Aviv Academic College of Engineering (expected to finish - 2023)</p>
</div>

<div class="info">
    <h2>Side Projects</h2>
    <p>Telegram-rat – This program can transfer files and execute commands on a remote computer from anywhere using the telegram bot.</p>
</div>

<div class="info">
    <h2>Degree Projects</h2>
    <ul>
        <li>Flight project – C project: Managing flights and airports</li>
        <li>Championship – javaFX GUI: Tournament overview for multiple sports</li>
        <li>Shop – javaFX GUI: Design patterns project</li>
    </ul>
</div>

<div class="info">
    <h2>Military Service</h2>
    <p>2013-2015 Commander at Israeli Combat Engineering corps</p>
    <p>2016 Establishing and commanding a platoon as a CSM at Yahalom unit</p>
</div>

<div class="info">
    <h2>Additional Information</h2>
    <p>Native English speaker as well as Hebrew</p>
    <p>Hobbies – music, exercising and my dog Katara.</p>
</div>

<div class="contact-info">
    <p>Contact: omrimeller@gmail.com</p>
</div>

<div class="links">
    <a asp-page="./">Back to Home</a>
</div>
