@page
@model Final_Project_4inRow_Server.Pages.SignUp.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Credentials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Credentials.Id" />
            <div class="form-group">
                <label asp-for="Credentials.Name" class="control-label"></label>
                <input asp-for="Credentials.Name" class="form-control" />
                <span asp-validation-for="Credentials.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Password" class="control-label"></label>
                <input asp-for="Credentials.Password" class="form-control" />
                <span asp-validation-for="Credentials.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Phone" class="control-label"></label>
                <input asp-for="Credentials.Phone" class="form-control" />
                <span asp-validation-for="Credentials.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.SelectedCountry" class="control-label"></label>
                <select asp-for="Credentials.SelectedCountry" class="form-control"></select>
                <span asp-validation-for="Credentials.SelectedCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
